# 思路已经比较清楚了，然而具体操作起来还是磕磕绊绊的

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
# 从stock_data文件夹中读取sh600156.csv文件
df = pd.read_csv(r'stock_data\all_trading_data\stock data\sh600156.csv')
# 删掉其中的两列
df.drop(['code','report_type', 'report_date'], axis=1, inplace=True)
df.head()

,date,open,high,low,close,change,volume,money,traded_market_value,market_value,turnover,adjust_price,PE_TTM,PS_TTM,PC_TTM,PB,adjust_price_f
0,2014-12-31,7.30,7.48,7.27,7.45,0.014986,3709659.0,27372203.0,2.995725e+09,2.995725e+09,0.009225,14.119932,31.647853,3.065108,-20.892047,4.271238,7.529699
1,2014-12-30,7.51,7.53,7.28,7.34,-0.023936,6015869.0,44351725.0,2.951493e+09,2.951493e+09,0.014961,13.911455,31.180581,3.019853,-20.583582,4.208174,7.418525
2,2014-12-29,7.94,8.11,7.45,7.52,-0.049305,10696042.0,82920245.0,3.023872e+09,3.023872e+09,0.026600,14.252605,31.945222,3.093908,-21.088352,4.311371,7.600449
3,2014-12-26,7.70,8.00,7.61,7.91,0.025940,9923544.0,77634462.0,3.180696e+09,3.180696e+09,0.024679,14.991775,33.601967,3.254365,-22.182038,4.534968,7.994624
4,2014-12-25,7.70,7.85,7.60,7.71,0.000000,7015075.0,54162715.0,3.100274e+09,3.100274e+09,0.017446,14.612721,32.752370,3.172081,-21.621184,4.420305,7.792487

In [42]:

#创建10个df1的平移数据dataframe
data_x = pd.concat([df.shift(-i).add_prefix(i) for i in range(30)], axis=1)

# 取出df的date列和change列
data_y = df[['date', 'change']].shift(1)

In [45]:
data_y.dropna(inplace=True)

           date    change
1    2014-12-31  0.014986
2    2014-12-30 -0.023936
3    2014-12-29 -0.049305
4    2014-12-26  0.025940
5    2014-12-25  0.000000
..          ...       ...
447  2013-02-28  0.017241
448  2013-02-27  0.000000
449  2013-02-26 -0.024038
450  2013-02-25  0.004831
451  2013-02-22 -0.011933

[451 rows x 2 columns]

In [48]:
# 删除data_x的第一行
data_x.drop(data_x.index[0], inplace=True)

,0date,0open,0high,0low,0close,0change,0volume,0money,0traded_market_value,0market_value,...,29money,29traded_market_value,29market_value,29turnover,29adjust_price,29PE_TTM,29PS_TTM,29PC_TTM,29PB,29adjust_price_f
1,2014-12-30,7.51,7.53,7.28,7.34,-0.023936,6015869.0,44351725.0,2.951493e+09,2.951493e+09,...,44118481.0,2.975619e+09,2.975619e+09,0.014959,14.025177,31.435474,3.044539,-20.751847,4.242575,7.479169
2,2014-12-29,7.94,8.11,7.45,7.52,-0.049305,10696042.0,82920245.0,3.023872e+09,3.023872e+09,...,39719291.0,2.935408e+09,2.935408e+09,0.013409,13.835643,31.010659,3.003396,-20.471409,4.185241,7.378097
3,2014-12-26,7.70,8.00,7.61,7.91,0.025940,9923544.0,77634462.0,3.180696e+09,3.180696e+09,...,46333124.0,2.959535e+09,2.959535e+09,0.015879,13.949358,31.265535,3.028080,-20.639663,4.219640,7.438737
4,2014-12-25,7.70,7.85,7.60,7.71,0.000000,7015075.0,54162715.0,3.100274e+09,3.100274e+09,...,36628359.0,2.895197e+09,2.895197e+09,0.012761,13.646114,30.585856,2.962253,-20.190979,4.127909,7.277027
5,2014-12-24,7.39,7.99,7.31,7.71,0.057613,9546924.0,72932486.0,3.100274e+09,3.100274e+09,...,39161438.0,2.854986e+09,2.854986e+09,0.013656,13.456578,30.161038,2.921109,-19.910540,4.070575,7.175954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,2013-02-27,4.06,4.10,4.02,4.06,0.000000,3197122.0,12973554.0,1.632569e+09,1.632569e+09,...,20897322.0,1.632569e+09,1.632569e+09,0.012780,7.694918,421.377883,1.856409,42.798506,2.691638,4.103448
448,2013-02-26,4.15,4.20,4.04,4.06,-0.024038,3817792.0,15772894.0,1.632569e+09,1.632569e+09,...,18025598.0,1.628548e+09,1.628548e+09,0.011112,7.675966,420.340063,1.851836,42.693096,2.685009,4.093342
449,2013-02-25,4.14,4.20,4.14,4.16,0.004831,2471031.0,10302610.0,1.672781e+09,1.672781e+09,...,16219918.0,1.624527e+09,1.624527e+09,0.010036,7.657014,419.302290,1.847264,42.587692,2.678380,4.083236
450,2013-02-22,4.15,4.22,4.13,4.14,-0.011933,4052434.0,16916818.0,1.664738e+09,1.664738e+09,...,11389857.0,1.612464e+09,1.612464e+09,0.007109,7.600158,416.188782,1.833548,42.271459,2.658492,4.052916
451,2013-02-21,4.34,4.37,4.15,4.19,-0.038991,9246708.0,39247700.0,1.684844e+09,1.684844e+09,...,17539997.0,1.604422e+09,1.604422e+09,0.010807,7.562248,414.112834,1.824402,42.060609,2.645231,4.032700

In [50]:
# 重置data_x的index
data_x.reset_index(drop=True, inplace=True)
data_x

,0date,0open,0high,0low,0close,0change,0volume,0money,0traded_market_value,0market_value,...,29money,29traded_market_value,29market_value,29turnover,29adjust_price,29PE_TTM,29PS_TTM,29PC_TTM,29PB,29adjust_price_f
0,2014-12-30,7.51,7.53,7.28,7.34,-0.023936,6015869.0,44351725.0,2.951493e+09,2.951493e+09,...,44118481.0,2.975619e+09,2.975619e+09,0.014959,14.025177,31.435474,3.044539,-20.751847,4.242575,7.479169
1,2014-12-29,7.94,8.11,7.45,7.52,-0.049305,10696042.0,82920245.0,3.023872e+09,3.023872e+09,...,39719291.0,2.935408e+09,2.935408e+09,0.013409,13.835643,31.010659,3.003396,-20.471409,4.185241,7.378097
2,2014-12-26,7.70,8.00,7.61,7.91,0.025940,9923544.0,77634462.0,3.180696e+09,3.180696e+09,...,46333124.0,2.959535e+09,2.959535e+09,0.015879,13.949358,31.265535,3.028080,-20.639663,4.219640,7.438737
3,2014-12-25,7.70,7.85,7.60,7.71,0.000000,7015075.0,54162715.0,3.100274e+09,3.100274e+09,...,36628359.0,2.895197e+09,2.895197e+09,0.012761,13.646114,30.585856,2.962253,-20.190979,4.127909,7.277027
4,2014-12-24,7.39,7.99,7.31,7.71,0.057613,9546924.0,72932486.0,3.100274e+09,3.100274e+09,...,39161438.0,2.854986e+09,2.854986e+09,0.013656,13.456578,30.161038,2.921109,-19.910540,4.070575,7.175954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2013-02-27,4.06,4.10,4.02,4.06,0.000000,3197122.0,12973554.0,1.632569e+09,1.632569e+09,...,20897322.0,1.632569e+09,1.632569e+09,0.012780,7.694918,421.377883,1.856409,42.798506,2.691638,4.103448
447,2013-02-26,4.15,4.20,4.04,4.06,-0.024038,3817792.0,15772894.0,1.632569e+09,1.632569e+09,...,18025598.0,1.628548e+09,1.628548e+09,0.011112,7.675966,420.340063,1.851836,42.693096,2.685009,4.093342
448,2013-02-25,4.14,4.20,4.14,4.16,0.004831,2471031.0,10302610.0,1.672781e+09,1.672781e+09,...,16219918.0,1.624527e+09,1.624527e+09,0.010036,7.657014,419.302290,1.847264,42.587692,2.678380,4.083236
449,2013-02-22,4.15,4.22,4.13,4.14,-0.011933,4052434.0,16916818.0,1.664738e+09,1.664738e+09,...,11389857.0,1.612464e+09,1.612464e+09,0.007109,7.600158,416.188782,1.833548,42.271459,2.658492,4.052916
450,2013-02-21,4.34,4.37,4.15,4.19,-0.038991,9246708.0,39247700.0,1.684844e+09,1.684844e+09,...,17539997.0,1.604422e+09,1.604422e+09,0.010807,7.562248,414.112834,1.824402,42.060609,2.645231,4.032700

In [51]:
data_x.dropna(inplace=True)
data_x

,0date,0open,0high,0low,0close,0change,0volume,0money,0traded_market_value,0market_value,...,29money,29traded_market_value,29market_value,29turnover,29adjust_price,29PE_TTM,29PS_TTM,29PC_TTM,29PB,29adjust_price_f
0,2014-12-30,7.51,7.53,7.28,7.34,-0.023936,6015869.0,44351725.0,2.951493e+09,2.951493e+09,...,44118481.0,2.975619e+09,2.975619e+09,0.014959,14.025177,31.435474,3.044539,-20.751847,4.242575,7.479169
1,2014-12-29,7.94,8.11,7.45,7.52,-0.049305,10696042.0,82920245.0,3.023872e+09,3.023872e+09,...,39719291.0,2.935408e+09,2.935408e+09,0.013409,13.835643,31.010659,3.003396,-20.471409,4.185241,7.378097
2,2014-12-26,7.70,8.00,7.61,7.91,0.025940,9923544.0,77634462.0,3.180696e+09,3.180696e+09,...,46333124.0,2.959535e+09,2.959535e+09,0.015879,13.949358,31.265535,3.028080,-20.639663,4.219640,7.438737
3,2014-12-25,7.70,7.85,7.60,7.71,0.000000,7015075.0,54162715.0,3.100274e+09,3.100274e+09,...,36628359.0,2.895197e+09,2.895197e+09,0.012761,13.646114,30.585856,2.962253,-20.190979,4.127909,7.277027
4,2014-12-24,7.39,7.99,7.31,7.71,0.057613,9546924.0,72932486.0,3.100274e+09,3.100274e+09,...,39161438.0,2.854986e+09,2.854986e+09,0.013656,13.456578,30.161038,2.921109,-19.910540,4.070575,7.175954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2013-02-27,4.06,4.10,4.02,4.06,0.000000,3197122.0,12973554.0,1.632569e+09,1.632569e+09,...,20897322.0,1.632569e+09,1.632569e+09,0.012780,7.694918,421.377883,1.856409,42.798506,2.691638,4.103448
447,2013-02-26,4.15,4.20,4.04,4.06,-0.024038,3817792.0,15772894.0,1.632569e+09,1.632569e+09,...,18025598.0,1.628548e+09,1.628548e+09,0.011112,7.675966,420.340063,1.851836,42.693096,2.685009,4.093342
448,2013-02-25,4.14,4.20,4.14,4.16,0.004831,2471031.0,10302610.0,1.672781e+09,1.672781e+09,...,16219918.0,1.624527e+09,1.624527e+09,0.010036,7.657014,419.302290,1.847264,42.587692,2.678380,4.083236
449,2013-02-22,4.15,4.22,4.13,4.14,-0.011933,4052434.0,16916818.0,1.664738e+09,1.664738e+09,...,11389857.0,1.612464e+09,1.612464e+09,0.007109,7.600158,416.188782,1.833548,42.271459,2.658492,4.052916
450,2013-02-21,4.34,4.37,4.15,4.19,-0.038991,9246708.0,39247700.0,1.684844e+09,1.684844e+09,...,17539997.0,1.604422e+09,1.604422e+09,0.010807,7.562248,414.112834,1.824402,42.060609,2.645231,4.032700

In [52]:
# 删掉data_x中的date列
data_x.drop(['0date','1date','2date','3date','4date','5date','6date','7date','8date','9date',
            '10date','11date','12date','13date','14date','15date','16date','17date','18date','19date',
            '20date','21date','22date','23date','24date','25date','26date','27date','28date','29date'], axis=1, inplace=True)
data_x

,0open,0high,0low,0close,0change,0volume,0money,0traded_market_value,0market_value,0turnover,...,29money,29traded_market_value,29market_value,29turnover,29adjust_price,29PE_TTM,29PS_TTM,29PC_TTM,29PB,29adjust_price_f
0,7.51,7.53,7.28,7.34,-0.023936,6015869.0,44351725.0,2.951493e+09,2.951493e+09,0.014961,...,44118481.0,2.975619e+09,2.975619e+09,0.014959,14.025177,31.435474,3.044539,-20.751847,4.242575,7.479169
1,7.94,8.11,7.45,7.52,-0.049305,10696042.0,82920245.0,3.023872e+09,3.023872e+09,0.026600,...,39719291.0,2.935408e+09,2.935408e+09,0.013409,13.835643,31.010659,3.003396,-20.471409,4.185241,7.378097
2,7.70,8.00,7.61,7.91,0.025940,9923544.0,77634462.0,3.180696e+09,3.180696e+09,0.024679,...,46333124.0,2.959535e+09,2.959535e+09,0.015879,13.949358,31.265535,3.028080,-20.639663,4.219640,7.438737
3,7.70,7.85,7.60,7.71,0.000000,7015075.0,54162715.0,3.100274e+09,3.100274e+09,0.017446,...,36628359.0,2.895197e+09,2.895197e+09,0.012761,13.646114,30.585856,2.962253,-20.190979,4.127909,7.277027
4,7.39,7.99,7.31,7.71,0.057613,9546924.0,72932486.0,3.100274e+09,3.100274e+09,0.023742,...,39161438.0,2.854986e+09,2.854986e+09,0.013656,13.456578,30.161038,2.921109,-19.910540,4.070575,7.175954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,4.06,4.10,4.02,4.06,0.000000,3197122.0,12973554.0,1.632569e+09,1.632569e+09,0.007951,...,20897322.0,1.632569e+09,1.632569e+09,0.012780,7.694918,421.377883,1.856409,42.798506,2.691638,4.103448
447,4.15,4.20,4.04,4.06,-0.024038,3817792.0,15772894.0,1.632569e+09,1.632569e+09,0.009494,...,18025598.0,1.628548e+09,1.628548e+09,0.011112,7.675966,420.340063,1.851836,42.693096,2.685009,4.093342
448,4.14,4.20,4.14,4.16,0.004831,2471031.0,10302610.0,1.672781e+09,1.672781e+09,0.006145,...,16219918.0,1.624527e+09,1.624527e+09,0.010036,7.657014,419.302290,1.847264,42.587692,2.678380,4.083236
449,4.15,4.22,4.13,4.14,-0.011933,4052434.0,16916818.0,1.664738e+09,1.664738e+09,0.010078,...,11389857.0,1.612464e+09,1.612464e+09,0.007109,7.600158,416.188782,1.833548,42.271459,2.658492,4.052916
450,4.34,4.37,4.15,4.19,-0.038991,9246708.0,39247700.0,1.684844e+09,1.684844e+09,0.022995,...,17539997.0,1.604422e+09,1.604422e+09,0.010807,7.562248,414.112834,1.824402,42.060609,2.645231,4.032700

In [53]:
# 把data_y 按照change划分为每隔0.01的指定区间
bins = np.arange(-0.1, 0.11, 0.01)
bins[10] = 0
data_y['change_group'] = pd.cut(data_y['change'], bins)
# 将数据转换为编码
data_y['change_group_code'] = data_y['change_group'].cat.codes
data_y

           date    change    change_group  change_group_code
1    2014-12-31  0.014986    (0.01, 0.02]                 11
2    2014-12-30 -0.023936  (-0.03, -0.02]                  7
3    2014-12-29 -0.049305  (-0.05, -0.04]                  5
4    2014-12-26  0.025940    (0.02, 0.03]                 12
5    2014-12-25  0.000000    (-0.01, 0.0]                  9
..          ...       ...             ...                ...
476  2013-01-11 -0.036946  (-0.04, -0.03]                  6
477  2013-01-10  0.002469     (0.0, 0.01]                 10
478  2013-01-09  0.002475     (0.0, 0.01]                 10
479  2013-01-08  0.007481     (0.0, 0.01]                 10
480  2013-01-07  0.005013     (0.0, 0.01]                 10

[480 rows x 4 columns]

In [54]:
data_y=data_y[:451]

In [55]:
data_y

           date    change    change_group  change_group_code
1    2014-12-31  0.014986    (0.01, 0.02]                 11
2    2014-12-30 -0.023936  (-0.03, -0.02]                  7
3    2014-12-29 -0.049305  (-0.05, -0.04]                  5
4    2014-12-26  0.025940    (0.02, 0.03]                 12
5    2014-12-25  0.000000    (-0.01, 0.0]                  9
..          ...       ...             ...                ...
447  2013-02-28  0.017241    (0.01, 0.02]                 11
448  2013-02-27  0.000000    (-0.01, 0.0]                  9
449  2013-02-26 -0.024038  (-0.03, -0.02]                  7
450  2013-02-25  0.004831     (0.0, 0.01]                 10
451  2013-02-22 -0.011933  (-0.02, -0.01]                  8

[451 rows x 4 columns]

In [57]:
data_y.reset_index(drop=True, inplace=True)
data_y

           date    change    change_group  change_group_code
0    2014-12-31  0.014986    (0.01, 0.02]                 11
1    2014-12-30 -0.023936  (-0.03, -0.02]                  7
2    2014-12-29 -0.049305  (-0.05, -0.04]                  5
3    2014-12-26  0.025940    (0.02, 0.03]                 12
4    2014-12-25  0.000000    (-0.01, 0.0]                  9
..          ...       ...             ...                ...
446  2013-02-28  0.017241    (0.01, 0.02]                 11
447  2013-02-27  0.000000    (-0.01, 0.0]                  9
448  2013-02-26 -0.024038  (-0.03, -0.02]                  7
449  2013-02-25  0.004831     (0.0, 0.01]                 10
450  2013-02-22 -0.011933  (-0.02, -0.01]                  8

[451 rows x 4 columns]

In [58]:
data_y.drop(['date'], axis=1, inplace=True)
data_y

C:\Users\zhoun\AppData\Local\Temp\ipykernel_9636\4174573388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_y.drop(['date'], axis=1, inplace=True)

       change    change_group  change_group_code
0    0.014986    (0.01, 0.02]                 11
1   -0.023936  (-0.03, -0.02]                  7
2   -0.049305  (-0.05, -0.04]                  5
3    0.025940    (0.02, 0.03]                 12
4    0.000000    (-0.01, 0.0]                  9
..        ...             ...                ...
446  0.017241    (0.01, 0.02]                 11
447  0.000000    (-0.01, 0.0]                  9
448 -0.024038  (-0.03, -0.02]                  7
449  0.004831     (0.0, 0.01]                 10
450 -0.011933  (-0.02, -0.01]                  8

[451 rows x 3 columns]

In [64]:
# 把data_y的change_group列转换为字符串
data_y['change_group'] = data_y['change_group'].astype(str)
data_y['change_group']

C:\Users\zhoun\AppData\Local\Temp\ipykernel_9636\821022998.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_y['change_group'] = data_y['change_group'].astype(str)

0        (0.01, 0.02]
1      (-0.03, -0.02]
2      (-0.05, -0.04]
3        (0.02, 0.03]
4        (-0.01, 0.0]
            ...
446      (0.01, 0.02]
447      (-0.01, 0.0]
448    (-0.03, -0.02]
449       (0.0, 0.01]
450    (-0.02, -0.01]
Name: change_group, Length: 451, dtype: object

In [65]:
# 保存data_x和data_y
data_x.to_csv(r'train_test_data/data_x.csv', index=False)
data_y.to_csv(r'train_test_data/data_y.csv', index=False)